{% extends 'tienda/base_tres.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tienda/css/registro_estilos.css' %}">
{% endblock %}


{% block content %}
<div class="card shadow-lg">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title mb-0">Registrar nuevo cliente</h5>
            <div>
                <a href="{% url 'lista_clientes' %}" class="btn btn-secondary ">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
            </div>
        </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <form id="formRegistro" method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-6 mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">
                            {{ field.errors|striptags }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="mt-4 text-end">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-save"></i> Guardar
            </button>
        </div>
    </form>
    <div id="regFeedback" class=""></div>
</div>
<!-- Overlay de carga -->
<div id="loadingOverlay" style="display: none;">
    <div class="loading-content">
        <span class="spinner-border text-light" role="status"></span>
        <p class="text-light mt-3">Cargando, por favor espere...</p>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'tienda/js/registro_cliente.js' %}"></script>
{% endblock %}