{% extends 'tienda/base_tres.html'%} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tienda/css/detalle_articulo_estilos.css' %}"> 
{% endblock %} 

{% block content %}


<div class="card shadow-lg">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="card-title mb-0">Detalle de Artículo</h5>
            <div>
                <a href="{% url 'lista_articulos' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>
            </div>
        </div>
        <hr size="3px" color="black">
        <div class="row">
            <!-- Columna de datos -->
            <div class="col-md-6 col-12 mb-4">
                <h3>{{ producto.prod_nombre }}</h3>
                <p><strong>Marca:</strong> {{ producto.prod_marca }}</p>
                <p><strong>Modelo:</strong> {{ producto.prod_modelo }}</p>
                <p><strong>Motor:</strong> {{ producto.prod_motor }}</p>
                <p><strong>Categoría:</strong> {{ producto.prod_categoria }}</p>
                <p><strong>Descuento:</strong> {{ descuento_porcentaje }}%</p>
                <p><strong>Descripción:</strong><br>{{ producto.prod_descripcion|linebreaks }}</p>
                <p><strong>Fecha de registro:</strong> {{ producto.prod_fecha_registro|date:"Y-m-d H:i:s" }}</p>
            </div>

            <!-- Columna de imagen -->
            <div class="col-md-6 col-12 text-center">
                <img src="{% static 'tienda/img/' %}{{ producto.prod_imagen }}" alt="Imagen del producto"
                    class="img-fluid rounded border shadow" style="max-height: 400px;">
            </div>
        </div>
    </div>
</div>

{% endblock%}

