{% extends 'tienda/base2.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tienda/css/detalle_proveedor_estilos.css' %}"> 
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
              <div class="card-title header-elements">
                <h4 class="m-0 me-2 text-primary">Detalle proveedor</h4>
                <div class="card-title-elements ms-auto">
                    <div class="row">
                        <div class="gap-2 col-lg-12 text-end">
                            <a href="{% url 'lista_proveedores' %}" class="btn btn-secondary">
                                <span class="tf-icon bx bx-left-arrow-alt bx-18px me-1"></span> Regresar
                            </a>
                        </div>
                    </div>    
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-12 mb-4">
                        <h3>{{ proveedor.proveedor_nombre }}</h3>
                        <p><strong>RUC:</strong> {{ proveedor.proveedor_ruc }}</p>
                        <p><strong>Teléfono:</strong> {{ proveedor.proveedor_telefono }}</p>
                        <p><strong>Dirección:</strong> {{ proveedor.proveedor_direccion }}</p>
                        <p><strong>Email:</strong> {{ proveedor.proveedor_email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}

