{% extends 'tienda/base_tres.html'%} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
{% endblock %}

{% block content %}

    <h2>Listado de Compras</h2>

    <form method="get">
        <label>Desde: <input type="date" name="fecha_inicio" required></label>
        <label>Hasta: <input type="date" name="fecha_fin" required></label>
        <button type="submit">Filtrar</button>
    </form>

    <table id="tabla-compras" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Proveedor</th>
                <th>Tipo Doc</th>
                <th>Número Doc</th>
                <th>Costo Total</th>
                <th>IGV</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.entrada_fecha }}</td>
                <td>{{ compra.usuario__usuario_nombre }}</td>
                <td>{{ compra.proveedor__proveedor_nombre }}</td>
                <td>{{ compra.tipo_doc_almacen__tipo_doc_almacen_descripcion }}</td>
                <td>{{ compra.entrada_num_doc }}</td>
                <td>{{ compra.entrada_costo_total }}</td>
                <td>{{ compra.entrada_igv }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock%}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabla-compras').DataTable({
                dom: 'Bfrtip',
                buttons: ['excelHtml5', 'csvHtml5', 'pdfHtml5'],
                responsive: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json'
                }
            });
        });
    </script>
{% endblock %}
