{% extends 'tienda/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    {% for producto in page_obj %}
    <!-- Card del producto (igual que antes) -->
    <div class="col-md-4 mb-4">
        <div class="card card-producto shadow-sm h-100">
            <img src="{% static 'tienda/img/' %}{{ producto.prod_imagen }}" class="card-img-top" alt="{{ producto.prod_nombre }}">
            <div class="card-body">
                <h6 class="text-muted">{{ producto.prod_marca }}</h6>
                <h5 class="card-title">{{ producto.prod_nombre }}</h5>
                <p class="card-text">
                    {% if producto.prod_porcenta_dcto > 0 %}
                        <strong class="text-danger">1800 </strong>
                        <del class="text-muted">S/ 2000</del>
                        <span class="badge bg-primary">{{ producto.prod_porcenta_dcto }}% dscto.</span>
                    {% else %}
                        <strong>S/ 2000</strong>
                    {% endif %}
                </p>
                <p class="text-muted">{{ producto.prod_categoria }} - {{ producto.prod_motor }}</p>

            </div>

        </div>
    </div>
    {% endfor %}
</div>

<!-- Paginación -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; Primero</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo; Primero</span></li>
        <li class="page-item disabled"><span class="page-link">&lsaquo;</span></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&rsaquo;</span></li>
        <li class="page-item disabled"><span class="page-link">Último &raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}