{% extends 'tienda/base2.html'%}
{% load static %}

{% block title %} - Reporte Ser. Prod.{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/DataTables/DataTables-1.13.8/css/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/DataTables/Buttons-2.4.2/css/buttons.bootstrap5.min.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
              <div class="card-title header-elements">
                <h4 class="m-0 me-2 text-primary">Reporte series Productos</h4>
              </div>
            </div>
            <div class="card-body">
              
                {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label>Fecha Inicio:</label>
                    <input type="date" id="fecha_inicio" class="form-control">
                  </div>
                  <div class="col-md-3">
                    <label>Fecha Fin:</label>
                    <input type="date" id="fecha_fin" class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label>Producto:</label>
                    <select id="producto_id" class="form-control">
                      <option value="0">TODOS</option>
                      {% for p in productos %}
                        <option value="{{ p.prod_id }}">{{ p.prod_modelo }} - {{ p.prod_marca }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2">
                    <label>&nbsp;</label>
                    <button id="btnBuscar" class="btn btn-primary btn-block" >Buscar</button>
                  </div>
                </div>
              

                <table id="tablaSeries" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>CÓDIGO SERIE</th>
                            <th>SITUACIÓN</th>
                            <th>FECHA ENTRADA</th>
                            <th>NUM. DOC ENTRADA</th>
                            <th>TIPO DOC. ENTRADA</th>
                            <th>FECHA SALIDA</th>
                            <th>NUM DOC. SALIDA</th>
                            <th>TIPO DOC. SALIDA</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block extra_js %}
<script src="{% static 'assets/vendor/libs/DataTables/DataTables-1.13.8/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/DataTables-1.13.8/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/Buttons-2.4.2/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/Buttons-2.4.2/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/JSZip-3.10.1/jszip.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/pdfmake-0.2.7/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/pdfmake-0.2.7/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/Buttons-2.4.2/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/Buttons-2.4.2/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/DataTables/Buttons-2.4.2/js/buttons.colVis.min.js' %}"></script>

<script src="{% static 'tienda/js/reporte_series_productos.js' %}"></script>
{% endblock %}