{% extends 'tienda/base2.html'%}
{% load static %}

{% block title %} - Listado de Compras{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/DataTables/DataTables-1.13.8/css/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet" href="{% static 'tienda/css/reporte_compras_estilos.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
              <div class="card-title header-elements">
                <h4 class="m-0 me-2 text-primary">Listado de Compras</h4>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-4 order-0">
                    
                    </div>
                </div>    
                <div class="row">
                    <div class="col-12 mb-4 order-0">
                        <div class="table-responsive text-nowrap">
                            <table id="productos-table" class="table table-bordered text-center w-100">
                                <thead class="table-primary">
                                    <tr role="row">
                                        <th class="text-center">Marca</th>
                                        <th class="text-center">Modelo</th>
                                        <th class="text-center">Motor</th>
                                        <th class="text-center">Categoría</th>
                                        <th class="text-center">Descuento</th>
                                        <th class="text-center">Stock</th>
                                        <th class="text-center">Fecha Registro</th>
                                        <th class="text-center">Estado</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for producto in productos %}
                                    <tr>
                                        <td>{{ producto.prod_marca }}</td>
                                        <td>{{ producto.prod_modelo }}</td>
                                        <td>{{ producto.prod_motor }}</td>
                                        <td>{{ producto.prod_categoria }}</td>
                                        <td>{{ producto.descuento_porcentaje }}%</td>
                                        <td>
                                            <span>{{ producto.stock_actual }}</span>
                                            {% if producto.stock_actual == 0 %}
                                                <span class="badge bg-label-danger me-1 badge-stock">Agotado</span>
                                            {% elif producto.stock_actual <= 5 %}
                                                <span class="badge bg-label-warning me-1 badge-stock">Por agotar</span>
                                            {% else %}
                                                <span class="badge bg-label-success me-1 badge-stock">Disponible</span> <!-- badge bg-success text-white ms-2  -->
                                            {% endif %}
                                            
                                        </td>
                                        <td>{{ producto.prod_fecha_registro|date:"Y-m-d H:i:s" }}</td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox"
                                                    class="toggle-estado"
                                                    data-producto-id="{{ producto.prod_id }}"
                                                    data-producto-nombre="{{ producto.prod_nombre }}"
                                                    data-producto-estado="{{ producto.prod_estado }}"
                                                    {% if producto.prod_estado %}checked{% endif %}>
                                                <span class="slider">
                                                    <span class="text-on">ON</span>
                                                    <span class="text-off">OFF</span>
                                                </span>
                                            </label>
                                        </td>
                                        <td>
                                            <a href="{% url 'detalle_articulo' producto.prod_id %}" class="btn btn-sm btn-icon btn-outline-primary" title="Ver"><i class="bx bx-show"></i></a>
                                            {% if producto.prod_estado %}
                                            <a href="{% url 'editar_articulo' producto.prod_id %}" class="btn btn-sm btn-icon btn-outline-success" title="Editar"><i class="bx bx-pencil"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}

{% block extra_js %}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables core -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Bootstrap 5 -->
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <!-- DataTables Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    
    <script src="{% static 'tienda/js/reporte_compras.js' %}"></script>
{% endblock %}
