.mi-container-sw {
  z-index: 9999 !important; /* Mayor que tu header o sidebar */
  pointer-events: auto;
}

.mi-popup-sw {
  z-index: 10000 !important;
}

.is-invalid {
  border-color: red;
}

/*.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}*/

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
}

.loading-content {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[readonly],
textarea[readonly],
select[readonly] {
    background-color: #e9ecef;  /* color típico de inputs disabled */
    color: #6c757d;             /* texto en gris como disabled */
    border-color: #ced4da;      /* mismo borde que el resto */
    cursor: not-allowed;        /* ícono de cursor deshabilitado */
    pointer-events: none;       /* previene foco o selección */
}