.card-border-shadow-primary {
    border-bottom: 4px solid #2092EC !important;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-border-shadow-primary:hover {
    box-shadow: 0 4px 15px rgba(32, 146, 236, 0.3);
    border-bottom-color: #2092EC;
}

.card-border-shadow-danger {
    border-bottom: 4px solid #ff3e1d !important;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-border-shadow-danger:hover {
    box-shadow: 0 4px 15px rgba(129, 18, 18, 0.3);
    border-bottom-color: #ff3e1d;
}

.card-border-shadow-success {
    border-bottom: 4px solid #5fbb2d !important;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-border-shadow-success:hover {
    box-shadow: 0 4px 15px rgba(33, 129, 18, 0.3);
    border-bottom-color: #5fbb2d;
}

.card-border-shadow-warning {
    border-bottom: 4px solid #ffab00 !important;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-border-shadow-warning:hover {
    box-shadow: 0 4px 15px rgba(129, 127, 18, 0.3);
    border-bottom-color: #ffab00;
}

.initial-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}